@import "tailwindcss";
@plugin "daisyui";

@tailwind utilities;



@keyframes heartbeat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}
.animate-heartbeat { animation: heartbeat 1.5s ease-in-out infinite; }

@keyframes subtleZoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.03); }
}
.animate-subtle-zoom { animation: subtleZoom 8s ease-out forwards; }

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}
.fade-in-up { animation: fadeInUp 0.8s ease-out forwards; opacity: 0; }

.btn-gradient {
  background-image: linear-gradient(to right, #BC1823, #d9534f);
  transition: all 0.3s ease;
}
.btn-gradient:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
